* {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.8px solid gray;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: gray;
}

nav ul li a:hover {
    text-decoration: underline;
    color: green;
}

nav ul li a:active {
    color: red;
}

.container {
    margin-top: 10px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 10px;
}

.box {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.content {
    margin-top: 10px;
    border: 5px dotted green;
    padding: 20px;
    height: 100vh;
    gap: 10px;
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "main main main main main sidebar"
    "bottom bottom bottom footer footer footer"
    /* "bottom bottom bottom bottom" */
    /* "basement basement basement" */
    "basement underground  underground underground underground underground"
    "underworld underworld pit pit tartarus tartarus"
    /* "pit pit pit pit" */
    /* "tartarus tartarus tartarus tartarus" */
    ;
}

.items {
    border: 2px solid red;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar { 
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.bottom {
    grid-area: bottom;
}

.basement {
    grid-area: basement;
}

.underground {
    grid-area: underground;
}

.underworld {
    grid-area: underworld;
}

.pit {
    grid-area: pit;
}

.tartarus {
    grid-area: tartarus;
}